.title_and_image_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
}

.intro_container {
  margin: auto 0px;
}

.title {
  margin: 1rem 0;
}